future==0.17.1
# pyglet==1.5.11; sys_platform != 'darwin'
# pyglet<2; sys_platform == 'darwin'
pyglet<2
gmqtt
pyserial
pillow
RPi.GPIO; "Raspbian" in platform_version
numpy; "Raspbian" not in platform_version
