pyglet<3; "Raspbian" not in platform_version
pyglet<2; "Raspbian" in platform_version
python-ffmpeg
gmqtt
pyserial
pillow
PyYAML
RPi.GPIO; "Raspbian" in platform_version
numpy; "Raspbian" not in platform_version
littlefs-python  # build the LittleFS image (hardware/rotor/build_micropython_fs.py)
