pyglet<3; "Raspbian" not in platform_version
pyglet<2; "Raspbian" in platform_version
python-ffmpeg
gmqtt
pyserial
pillow
RPi.GPIO; "Raspbian" in platform_version
numpy; "Raspbian" not in platform_version
